.background{
    -fx-background-color: #2D2D30;
    -fx-border-color: transparent;
}

.split-pane *.split-pane-divider {
    -fx-background-color: #2D2D30;
    -fx-border-color: transparent;
    -fx-padding: 0 2 0 2;
}

/* button */
.button {
    -fx-pref-height: 25.0;
    -fx-pref-width: 25.0;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #3DB57D;
    -fx-background-size: contain;
    -fx-background-positon: center;
    -fx-background-repeat: no-repeat;
}

.button:pressed {
    -fx-background-color: #FFEB3B;
}

.button:disabled {
    -fx-background-color: transparent;
}

.button:hover{
    -fx-cursor: hand;
}

.toggle-button {
    -fx-pref-height: 25.0;
    -fx-pref-width: 25.0;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: red;
    -fx-background-size: contain;
    -fx-background-positon: center;
    -fx-background-repeat: no-repeat;
}

.toggle-button:pressed{
    -fx-background-color: #FFEB3B;
}

.toggle-button:disabled {
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-background-color: #3DB57D;
}

.toggle-button:hover{
    -fx-cursor: hand;
}

#root-pane{
    -fx-pref-height: 500.0;
    -fx-pref-width: 800.0;
}

.tool-bar{
    -fx-pref-height: 40.0;
    -fx-max-height: 40.0;
}

#compare-button{
    -fx-background-image: url("icon/compare.png");
}

#copy-to-right-button{
    -fx-background-image: url("icon/copytoright.png");
}

#copy-to-left-button{
    -fx-background-image: url("icon/copytoleft.png");
}

#undo-button{
    -fx-background-image: url("icon/undo.png");
}

/* scroll-bar */
.scroll-bar,
.scroll-bar .track,
.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color: #3E3E42;
    -fx-border-color: #3E3E42;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-background-color: #999999;
}

.scroll-bar .thumb {
    -fx-background-color: #686868;
}

#compare-view-scroll-bar{
    -fx-pref-width: 30.0;
}