@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.background {
    -fx-background-color: #28282B;
    -fx-border-color: transparent;
}

#load-button{
    -fx-background-image: url("icon/open.png");
}

#edit-button{
    -fx-background-image: url("icon/edit.png");
}

#save-button{
    -fx-background-image: url("icon/save.png");
}