.background {
    -fx-background-color: #28282B;
    -fx-border-color: transparent;
}

.scroll-pane .corner{
    -fx-background-color: #3E3E42;
    -fx-border-color: #3E3E42;
}

#file-tool-bar{
    -fx-min-width: 100.0;
}

#file-path-label{
    -fx-text-fill: white;
    -fx-text-alignment: right;
}

#load-button{
    -fx-background-image: url("icon/open.png");
}

#edit-button{
    -fx-background-image: url("icon/edit.png");
}

#save-button{
    -fx-background-image: url("icon/save.png");
}